/*
.bg {
    background-image: url(image/bg.jpg);
    background-attachment: fixed;
}
p {
    color: white;
}

h1 {
    color: white;
}*/

body {
    background-image: url(../image/bg.jpg);
    background-attachment: fixed;
}

.slarioNh1 {
    color: white;
    font-size: 50px;
}

p {
    color: white;
}